* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top-area {
  background-color: #333F99;
  height: 100px;

  .my-container {
    width: 95%;
    margin: auto;
    background-color: #333F99;

    .language {

      margin-left: 10px;

      .button1 {
        background-color: #333F99;
        border: none;
        margin-top: 30px;
      }
    }

    .country {

      margin-left: 10px;

      .button2 {
        background-color: #333F99;
        border: none;
        margin-top: 30px;
      }

      span {
        padding-left: 12px;
      }

      img {
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
    }

    .top-area-logo {
      align-items: center;
      margin-top: 28px;
      margin-left: 60px;
    }

    .icons {
      display: flex;
      float: right;

      .basket {

        margin-right: 12px;
        position: relative;

        .basket-circles {
          width: 23px;
          height: 23px;
          background-color: #FF5722;
          border-radius: 50%;
          position: absolute;
          top: 18px;
          left: 32px;
          padding-top: 10px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;

          sup {

            color: white;
          }
        }

        .basket-bg {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background-color: #FF5722;
          margin-top: 28px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            color: white;
            font-size: 18px;
            cursor: pointer;
          }
        }

      }

      .heart {

        height: 45px;
        margin-right: 20px;


        .heart-circles {
          width: 23px;
          height: 23px;
          background-color: #FF5722;
          border-radius: 50%;
          position: absolute;
          top: 19px;
          right: 87px;
          cursor: pointer;
          padding-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          sup {

            color: white;
          }
        }

        .favori-bg {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background-color: #FF5722;
          margin-top: 28px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            color: white;
            font-size: 18px;
            cursor: pointer;

          }

        }




      }

      .profile-img {
              
        .my-button{
          background-color: #333F99;
          border-color:#333F99;
        }
        .dropdown-menu{
          transform: translate3d(0.375px, 10px,0px) !important;
        }
        
        img {
          margin-left: -26px;
          border-radius: 50%;
          width: 100%;
          margin-top: 25px;
        }
        .span-location{
          margin-left: 15px;
        }
      }
    }

  }

}

#nav-area {
  .admin {
    width: 125px;
    background-color: #FF5722;
  }

  background-color: #283593;

  .my-container {
    width: 95%;
    height: 50px;
    background-color: #283593;

  }

  nav {
    position: absolute;
    left: 0;
    .searchacc{
      width: 70px;
      height: 70px;
      background-color: #FF5722;
      border-radius: 50%;
      margin-left: 82rem;
      margin-top: -40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i{
        color: #fff;
        font-size: 25px;
      }
    
    }

  }

  

  .navbar-list {
    display: flex;
    margin-left: 10rem;
    margin-bottom: 0;





    li {
      list-style: none;
      margin-right: 30px;


      &:hover {
        .home {
          height: 130px;
          width: 200px;

          li {
            text-align: left;
          }
        }

        .shop {
          height: 170px;
          width: 200px;
        }

        .categories {
          height: 270px;
          width:822px;

          li {
            text-align: left;
          }
        }

        a {
          &::before {
            visibility: visible;
            transform: scale(1, 1);
          }
        }
      }

      .home {
        height: 130px;
        width: 200px;
      }

      .shop {
        height: 170px;
        width: 200px;
      }

      .categories {
        height: 270px;
        width: 822px;
        display: flex;
        gap: 90px;
        text-align: left;
      }

      .submenu {
        overflow: hidden;
        position: absolute;
        top: 57px;
        background-color: #fff;
        height: 0;
        line-height: 40px;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
        border-radius: 5px;
        z-index: 2;

        li {
          display: block;
          text-align: left;
        }

        a {
          color: black;

          font-size: 16px;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        .product1 {
          padding-top: 20px;

          h5 {
            text-align: left;
          }
        }
      }

      .hov {
        font-size: 18px;
        color: white;
        display: block;
        text-decoration: none;
        position: relative;
        padding: 11.5px 0;


        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: -6px;
          left: 0px;
          background-color: #FF5722;
          transition: all 0.3s ease-in-out;
          transform: scale(0, 0);
          visibility: hidden;

        }
      }
    }
  }
}
  

.visibl{
  visibility: hidden;
}

#scrol-area {
    height: 70px;
    background-color: #283593;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: block;
    transition: .3s;

    
   
  
  .admin {
    width: 125px;
    height: 71px;
    background-color: #FF5722;
    margin-top: -11.9px;
    padding-top: 11px;
  }
  

  .my-container {
    width: 95%;
    margin: auto;
    background-color: #283593;
  
   
  }
  .scrol-nav-logo{
    width: 180px;
    img{
      width: 100%;
      margin-top: 20px;
    }
  }

  nav {
    position: absolute;
    left: 0;
    margin-top: -36px;

  
    
  }

  .navbar-list-scrol {
    display: flex;
    margin-left: 39rem;
    margin-bottom: 0;


    li {
      list-style: none;
      margin-right: 15px;

      &:hover {
        .home {
          height: 130px;
          width: 200px;

          li {
            text-align: left;
          }
        }

        .shop {
          height: 170px;
          width: 200px;
        }

        .categories {
          height: 270px;
          width: 822px;

          li {
            text-align: left;
          }
        }

        a {
          &::before {
            visibility: visible;
            transform: scale(1, 1);
          }
        }
      }

      .home {
        height: 130px;
        width: 200px;
      }

      .shop {
        height: 170px;
        width: 200px;
      }

      .categories {
        height: 270px;
        width: 822px;
        left: 32rem;
        display: flex;
        gap: 90px;
        text-align: left;
      }

      .submenu {
        overflow: hidden;
        position: absolute;
        top: 57px;
        background-color: #fff;
        height: 0;
        line-height: 40px;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
        border-radius: 5px;
        z-index: 2;

        li {
          display: block;
          text-align: left;
        }

        a {
          color: black;

          font-size: 16px;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        .product1 {
          padding-top: 20px;

          h5 {
            text-align: left;
          }
        }
      }

      .hov {
        font-size: 18px;
        color: white;
        display: block;
        text-decoration: none;
        position: relative;
        padding: 11.5px 0;


        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: -7px;
          left: 0px;
          background-color: #FF5722;
          transition: all 0.3s ease-in-out;
          transform: scale(0, 0);
          visibility: hidden;

        }
      }
    }
  }
}

  #slide-accesories {
    background-image: url(../../img/accessories-slideimg.jpg);
    height: 300px;
    background-position: 2%;
    background-size: 100%;
      .my-container {
        width: 95%;
        height: 50px;
        margin: auto;
    
        .sliders {
          width: 100%;
          height: 330px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          
          h4{
            font-size: 42px;
            font-weight: bold;
          }
          img {
            width: 100%;
          }
        }
      }
    
    
    }

    #product-mapp {
      background-color: #F3F3F4;
      iframe{
        filter:brightness(0.5);
      }
     
    }
    
 


  #contact-us {
    padding-top: 37px;
    padding-bottom: 26px;

    h1 {
        font-size: 3.1em;
        line-height: 1.1em;
        margin-bottom: 0.8em;
    }

    h4,
    a {

        margin-bottom: 1em;
        text-decoration: none;
        color: rgb(42, 41, 41);
        &:hover{
          color: #FF5722;
        }
    }

    h3 {
        font-size: 2.125rem;
        line-height: 3.1rem;
    }


    .info {
        flex-direction: column;
        display: flex;

        height: 100%;
    }



    .register-area {

        height: 600px;

        background-color: white;
        display: flex;


        .register {

            background: white;
            width: 100%;

            height: 542px;
            display: flex;
            flex-direction: column;
            padding: 17px;
            border-radius: 5px;

            label {
                margin: 20px 0;
                height: 30px;
                position: relative;
                display: inline-block;
            }

            span {
                padding: 10px;
                pointer-events: none;
                position: absolute;
                left: 0;
                top: 0;
                transition: 0.2s;
                transition-timing-function: ease;
                transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
                opacity: 0.5;
            }

            input {
                padding: 10px;
                width: 100%;
                border: none;
                border-bottom: 0.5px solid;
                outline: none;

                &:focus {
                    + {
                        span {
                            opacity: 1;
                            transform: scale(0.75) translateY(-100%) translateX(-16px);
                            color: #283593;

                        }
                    }

                    border-bottom: 2px solid #283593;
                    ;
                }

                &:not(:placeholder-shown) {
                    + {
                        span {
                            opacity: 1;
                            transform: scale(0.75) translateY(-100%) translateX(-30px);

                        }
                    }
                }
            }
            .sign-up-contact{
              background-color: #FF5722;;
              padding: 10px 25px;
              border-radius: 50px;
              text-transform: uppercase;
              transition: 0.5s;
              position: absolute;
              text-decoration: none;
              color: white;
              transition: 0.3s;
      
              &:hover {
                background-color: rgb(218, 10, 10) ;
                color: black;
              }
            }
        }
    }
}



    #footer-area {
      width: 100%;
      height: 273px;
      background-color: black;
      color: #fff;
    
      .my-container {
        width: 95%;
        margin: auto;
    
        .about-area {
          margin-left: 20px;
    
          .about {
            margin-top: 39px;
          }
    
          .about-text {
            margin-top: 30px;
          }
        }
    
        .contact_us {
    
          margin-left: -33px;
          margin-top: 28px;
    
          li {
            padding: 3px;
            list-style: none;
    
            a {
              text-decoration: none;
              color: #fff;
    
              &:hover {
                color: #ff5722;
                transition: 0.4s;
              }
            }
          }
    
        }
    
      }
    
    }
    #footer_img-text {
      width: 100%;
      height: 90px;
      background-color: black;
      padding: 0, 10px;
    
      .my-container {
        width: 95%;
        margin: auto;
        .footer-line {
          border: 1px solid grey;
          width: 749px;
          margin-left: 10px;
        }
        .img-logo-end {
          img {
            margin-top: 33px;
            margin-left: 10px;
          }
        }
        .footer-lines {
          width: 730px;
          border: 1px solid grey;
        }
        .end-texts {
          margin-left: 250px;
          color: #fff;
          font-size: 13px;
          margin-top: 32px;
        }
      }
    }
  

    