@{
    ViewData["Title"] = "Home";
}


<main>


    <section id="slider-img">
        <div class="my-container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p>2019 Latest Collection</p>
                                <h1>New Fashion<br />Collection</h1>
                                <img src="~/assets/img/h-slider-1.e60ce1cc.jpg" alt="" />

                                <a href="">Shop Now</a>
                            </div>
                            <div class="swiper-slide">
                                <p>2019 Latest Collection</p>
                                <h1>Summer Time<br />Collection</h1>
                                <img src="~/assets/img/h-slider-2.e4a8e8e2.jpg" alt="" />

                                <a href="">Shop Now</a>
                            </div>
                            <div class="swiper-slide">
                                <p>2019 Latest Collection</p>
                                <h1>Men's Suiting<br />And Clothing</h1>
                                <img src="~/assets/img/h-slider-3.742f8c4c.jpg" alt="" />

                                <a href="">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ship-sup-price">
        <div class="my-container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="shipping-support-price-design">
                        <div class="ship-sup-price-icons">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <h3>Free Shipping</h3>
                        <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="shipping-support-price-design">
                        <div class="ship-sup-price-icons">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                        <h3>24X7 Support</h3>
                        <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="shipping-support-price-design">
                        <div class="ship-sup-price-icons">
                            <i class="fa-solid fa-fire"></i>
                        </div>
                        <h3>Best Price</h3>
                        <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="collections">
        <div class="my-container">
            <div class="row">
                
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="latest">
                        <img src="~/assets/img/collection.17e0ec43.jpg" alt="">
                        <div class="card-info">
                            <h4>Latest Collections</h4>
                            <p>Save Upto 60%</p>
                            <a href="">Shop Now</a>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <img src="~/assets/img/col-men.a184996e.jpg" alt="">
                        <div class="card-info">
                            <h4>Mens Collections</h4>
                            <p>Save Upto 40%</p>
                            <a href="">Shop Now</a>

                        </div>

                    </div>
                    <div class="card change-card">
                        <img src="~/assets/img/col-watches.91e22f1d.jpg" alt="">
                        <div class="card-info">
                            <h4>Watches Collections</h4>
                            <p>Save Upto 50%</p>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card last-card">
                        <img src="~/assets/img/col-women.d48a3fbc.jpg" alt="">
                        <div class="card-info">
                            <h4>Mens Collections</h4>
                            <p>Save Upto 40%</p>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                    <div class="card change-card last-card">
                        <img src="~/assets/img/col-accessories.fb7ceb1f.jpg" alt="">
                        <div class="card-info">
                            <h4>Mens Collections</h4>
                            <p>Save Upto 40%</p>
                            <a href="">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="shop-category">
        <div class="my-container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <h3>Shop By Category</h3>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="category-cards">
                        <img src="~/assets/img/cat-shoes.d1db9953.jpg" alt="">
                        <div class="category-text">
                            <a href="">Clothing</a>
                            <a href="">9 products</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="category-cards">
                        <img src="~/assets/img/9-item-a.b21dfff7.jpg" alt="">
                        <div class="category-text">
                            <a href="">Shoes</a>
                            <a href="">1 products</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="category-cards">
                        <img src="~/assets/img/g-5-a.f7015f71.jpg" alt="">
                        <div class="category-text">
                            <a href="">Accessories</a>
                            <a href="">4 products</a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="category-cards">
                        <img src="~/assets/img/a-5-a.eae9d54f.jpg" alt="">
                        <div class="category-text">
                            <a href="">Gadgets</a>
                            <a href="">5 products</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>



    <section id="tab-menu">
        <div class="all-product">
            <div class="my-container">
                <div class="row">

                    <div class="all">
                        <h2>New Products</h2>
                        <div class="tab">
                            <button class="tablinks active" onclick="openTabMenu(event, 'accessories')">Accessories</button>
                            <button class="tablinks " onclick="openTabMenu(event, 'gadgets')">Gadgets</button>
                            <button class="tablinks " onclick="openTabMenu(event, 'men')">Men</button>
                            <button class="tablinks " onclick="openTabMenu(event, 'women')">Women</button>



                            <div id="accessories" class="tabcontent" style="display:block;">

                                <div class="swiper mySwiper1">

                                    <div class="swiper-wrapper">

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/a-1-a.57b3779d.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$ 92.75</a>
                                                <a href="#" class="btn popular btn-danger btn-sm">popular</a>
                                                <p class="laptop">Laptop Backpack</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/a-2-a.440780d4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$38.31</a>
                                                <a href="#" class="btn popular "></a>
                                                <p class="laptop">Men Belts</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/a-3-a.6c3d2b28.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$56.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Steel Chain</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/a-4-a.8147d4e6.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$15.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Men Purse</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/a-5-a.d54f.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$15.75</a>
                                                <a href="#" class="btn popular btn-danger btn-sm">popular</a>
                                                <p class="laptop">Summer Goggles</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>

                            <div id="gadgets" class="tabcontent">
                                <div class="swiper mySwiper2">

                                    <div class="swiper-wrapper">

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/g-1-a.bec01f1a.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$125.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Wired HeadPhone</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/download.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$847.63</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Black Smartphone</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/g-3-a.41b84954.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$357.55</a>
                                                <a href="#" class="btn popular btn-danger btn-sm">popular</a>
                                                <p class="laptop">Digital Watch</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/g-4-a.714b7265.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$568.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Digital watch</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/g-5-a1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$989</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Circular Speaker</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>

                            <div id="men" class="tabcontent">
                                <div class="swiper mySwiper3">
                                    <div class="swiper-wrapper">

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/2-item-a.e131509d.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$82.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Super Jacket</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/3-item-a.44bd4841.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$18.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Wintage Jean</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide col-lg-3 col-md-6 col-sm-12 ">
                                            <img class="card-img-top" src="~/assets/img/1-item-a.ff1cdae8.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$42.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Dennim Pullover</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/4-item-a.5108aed9.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$40.82</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Blue Jean</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/cat-shoes.d1db9953.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$ 65.75</a>
                                                <a href="#" class="btn popular btn-danger btn-sm">popular</a>
                                                <p class="laptop">Men White Air</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>


                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="/assets/img/5-item-a.cb4ef9b1.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$22.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Black T-Shirt</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div id="women" class="tabcontent">
                                <div class="swiper mySwiper4">
                                    <div class="swiper-wrapper">

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/w-item-a.1459ebf4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$97.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Red Strip Dress</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/w2-a.674dc964.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$49.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Blue Denim</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>

                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/w3-a.b9a10876.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$15.75</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">Black Dress</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>


                                        <div class="card swiper-slide" col-lg-3 col-md-6 col-sm-12 style="width: 18rem;">
                                            <img class="card-img-top" src="~/assets/img/w4-a.b21dfff7 (1).jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="#" class="btn money btn-sm">$19.45</a>
                                                <a href="#" class="btn popular"></a>
                                                <p class="laptop">White T-Shirt</p>
                                                <i class="fa-solid fa-cart-shopping shop-adds"></i>
                                                <div class="staars">
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star "></i>
                                                </div>
                                                <div class="line"></div>
                                                <i class="fa-solid fa-heart heart_icon"></i>
                                                <i class="fa-solid fa-eye eye_icon"></i>

                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>


    <section id="arrival">
        <div class="my-container">
            <div class="row my-5">
                <div class="col-12">
                    <div class="back-img">
                        <div class="arrival-img">
                            <img src="~/assets/img/arrival.jpg" alt="">
                            <i class="fa-solid fa-gear"></i>
                            <h4>New Arrival</h4>
                            <h2>Sunglasses For Everyone</h2>
                            <a href="">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="brands">
        <div class="my-container">
            <div class="row">

                <div class="top-brands">
                    <h1>Top Brands</h1>
                </div>
                <div class="brands-card">
                    <ul class="brands-slider">
                        <li>
                            <img src="~/assets/img/brand1.png" alt="" />
                        </li>
                        <li>
                            <img src="~/assets/img/brand2.png" alt="" />
                        </li>
                        <li>
                            <img class="brands-img-size" src="~/assets/img/brand4.png" alt="" />
                        </li>
                        <li>
                            <img src="~/assets/img/brand1.png" alt="">
                        </li>
                        <li>
                            <img src="~/assets/img/brand2.png" alt="">
                        </li>
                        <li>
                            <img src="~/assets/img/brand2.png" alt="">
                        </li>
                        <li>
                            <img src="~/assets/img/brand2.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        </div>
    </section>

    <section id="subscribe">
        <div class="my-container">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter">
                        <h3>Subscribe Our Newsletter</h3>
                        <p>Stay up to date with our latest new and products</p>
                        <input class="subcirib-input" type="text" placeholder="Your Email Address">
                        <a href=""><i class="fa-solid fa-paper-plane"></i></a>

                        <div class="icons-sub">
                            <i class="fa-solid fa-square-check"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="dowlanad-android">
        <div class="my-container">
            <div class="row">
                <div class="col-6">
                    <div class="ios">
                        <i class="fa-brands fa-apple"></i>
                        <h5>Download IOS App</h5>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="android">
                        <i class="fa-brands fa-android"></i>
                        <h5>Download Android App</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>