<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessories</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/Accessories/accessories.css">
    <link rel="stylesheet" href="~/assets/css/Sign-up/sign-up.css">




</head>

<body>

    <header>

        <section id="top-area">
            <div class="my-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                        <div class="language">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle button1" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    English
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">French</a></li>

                                </ul>
                            </div>

                        </div>

                        <div class="country">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle button2" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    USD
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href=""><img src="~/assets/img/Flag-India.jpg"><span>INR</span></a></li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/220px-Flag_of_the_United_States.svg.png"><span>USD</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/Flag_of_New_Zealand.svg.png"><span>NZD</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/Flag_of_Germany.svg.png"><span>GMD</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/1200px-Flag_of_Israel.svg.png"><span>ILR</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/Flag_of_France.svg.png"><span>EUR</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>



                    </div>

                    <div class="col-4">
                        <div class="top-area-logo">
                            <img src="~/assets/img/embryoacc-logo.png" alt="logo">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="icons">
                            <div class="basket">
                                <div class="basket-bg">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                                <div class="basket-circles"><sup>0</sup></div>
                            </div>

                            <div class="heart">
                                <div class="favori-bg">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="heart-circles"><sup>0</sup></div>
                            </div>

                            <div class="profile-img">
                                <a href=""></a>
                                <div class="dropdown">
                                    <a class="btn btn-secondary my-button" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/img/profile.jpg" alt="profile" style="width: 40px; height: 40px;">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="./profile.html"><i class="fa-solid fa-user"></i><span class="span-location">Profile</span></a></li>
                                        <li><a class="dropdown-item" href="./sign-in.html"><i class="fa-solid fa-right-to-bracket"></i><span class="span-location">Sign-in</span></a></li>
                                        <li><a class="dropdown-item" href="./sign-up.html"><i class="fa-solid fa-user-plus"></i><span class="span-location">Sign-up</span></a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i><span class="span-location">Logaut</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="nav-area">
            <div class="my-container">
                <div class="col-12">
                    <nav>
                        <ul class="navbar-list">
                            <li>
                                <a class="hov" asp-controller="Home" asp-action="Index">HOME</a>
                                <ul class="submenu home">
                                    <li><a asp-controller="Accessories" asp-action="Index">Product</a></li>
                                    <li><a href="#">HOME TWO</a></li>
                                    <li><a href="#">HOME THREE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="hov" href="#">SHOP</a>
                                <ul class="submenu shop">
                                    <li><a href="./product.html">PRODUCT DETAIL</a></li>
                                    <li><a href="./cart.html">CART</a></li>
                                    <li><a href="#">CHECKOUT</a></li>
                                    <li><a href="#">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li><a class="hov" asp-controller="Accessories" asp-action="Index">ACCESSORIES</a></li>
                            <li>
                                <a class="hov" href="#">CATEGORIES</a>
                                <ul class="submenu categories">
                                    <div class="product1">
                                        <h5>MEN</h5>
                                        <hr />
                                    <li><a href="#">- T-Shirts</a></li>
                                    <li><a href="#">- Jeans</a></li>
                                    <li><a href="#">- Shoes</a></li>
                                    <li><a href="#">- Wallet</a></li>
                </div>
                <div class="product1">
                    <h5>WOMEN</h5>
                    <hr />
                    <li><a href="#">- Western Wear</a></li>
                    <li><a href="#">- Ethnic Wear</a></li>
                    <li><a href="#">- Sports Wear</a></li>
                </div>
                <div class="product1">
                    <h5>GADGETS</h5>
                    <hr />
                    <li><a href="#">- HeadPhones</a></li>
                    <li><a href="#">- Laptop</a></li>
                    <li><a href="#">- Speaker</a></li>
                    <li><a href="#">- Watch</a></li>
                </div>
                <div class="product1">
                    <h5>ACCESSORIES</h5>
                    <hr />
                    <li><a href="#">- Jewellery</a></li>
                    <li><a href="#">- Belts</a></li>
                    <li><a href="#">- HandBag</a></li>
                </div>
                </ul>
                </li>
                <li><a class="hov" href="./about.html">ABOUT US</a></li>
                <li><a class="hov" href="./contact-us.html">CONTACT US</a></li>
                <li><a class="hov admin" href="#">ADMIN PANEL</a></li>
                </ul>
                <div class="searchacc">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                </nav>

            </div>
            </div>
        </section>

        <section id="scrol-area" class="visibl">
            <div class="my-container">
                <div class="col-12">
                    <div class="scrol-nav-logo">
                        <img src="~/assets/img/embryoacc-logo.png" alt="">
                    </div>
                    <nav id="navbar-scrol">

                        <ul class="navbar-list-scrol">
                            <li>
                                <a class="hov" asp-controller="Home" asp-action="Index">HOME</a>
                                <ul class="submenu home">
                                    <li><a href="#">HOME ONE</a></li>
                                    <li><a href="#">HOME TWO</a></li>
                                    <li><a href="#">HOME THREE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="hov" href="#">SHOP</a>
                                <ul class="submenu shop">
                                    <li><a href="./product.html">PRODUCT DETAIL</a></li>
                                    <li><a href="./cart.html">CART</a></li>
                                    <li><a href="#">CHECKOUT</a></li>
                                    <li><a href="#">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li><a class="hov" asp-controller="Accessories" asp-action="Index">ACCESSORIES</a></li>
                            <li>
                                <a class="hov" href="#">CATEGORIES</a>
                                <ul class="submenu categories">
                                    <div class="product1">
                                        <h5>MEN</h5>
                                        <hr />
                                    <li><a href="#">- T-Shirts</a></li>
                                    <li><a href="#">- Jeans</a></li>
                                    <li><a href="#">- Shoes</a></li>
                                    <li><a href="#">- Wallet</a></li>
                </div>
                <div class="product1">
                    <h5>WOMEN</h5>
                    <hr />
                    <li><a href="#">- Western Wear</a></li>
                    <li><a href="#">- Ethnic Wear</a></li>
                    <li><a href="#">- Sports Wear</a></li>
                </div>
                <div class="product1">
                    <h5>GADGETS</h5>
                    <hr />
                    <li><a href="#">- HeadPhones</a></li>
                    <li><a href="#">- Laptop</a></li>
                    <li><a href="#">- Speaker</a></li>
                    <li><a href="#">- Watch</a></li>
                </div>
                <div class="product1">
                    <h5>ACCESSORIES</h5>
                    <hr />
                    <li><a href="#">- Jewellery</a></li>
                    <li><a href="#">- Belts</a></li>
                    <li><a href="#">- HandBag</a></li>
                </div>
                </ul>
                </li>
                <li><a class="hov" href="./sign-up.html">ABOUT US</a></li>
                <li><a class="hov" href="./contact-us.html">CONTACT US</a></li>
                <li class="admin"><a class="hov" href="#">ADMIN PANEL</a></li>
                </ul>
                </nav>
            </div>
            </div>
        </section>




    </header>
    @RenderBody()
    <footer>
        <section id="footer-area">
            <div class="my-container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="about-area">
                            <h6 class="about">ABOUT COMPANY</h6>
                            <p class="about-text">
                                Here you can use rows and columns here to organize your footer
                                content.Lorem ipsum
                                dolor sit amet,consectetur adipisicing elit. Here you can use rows and columns here to
                                organize your
                                footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="about-area">
                            <h6 class="about">ABOUT </h6>
                            <ul class="contact_us">
                                <li><a href="">about us</a></li>
                                <li><a href="">terms and condition</a></li>
                                <li><a href="">privacy policy</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="about-area">
                            <h6 class="about">SESSION </h6>
                            <ul class="contact_us">
                                <li><a href="">sign in</a></li>
                                <li><a href="">register</a></li>
                                <li><a href="">forget password</a></li>
                                <li><a href="">thank you</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="about-area">
                            <h6 class="about">CATEGORIES</h6>
                            <ul class="contact_us">
                                <li><a href="">men</a></li>
                                <li><a href="">accessories</a></li>
                                <li><a href="">gadgets</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="about-area">
                            <h6 class="about">SOCIAL</h6>
                            <ul class="contact_us">
                                <li><a href="">facebook</a></li>
                                <li><a href="">twitter</a></li>
                                <li><a href="">youtube</a></li>
                                <li><a href="">google plus</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer_img-text">
            <div class="my-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer-line"></div>
                        <div class="img-logo-end">
                            <img src="~/assets/img/download.png" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="footer-lines"></div>
                        <p class="end-texts">© All Rights Reversed | Made With Love by IRON NETWORK for better Web </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0622708fc2.js" crossorigin="anonymous"></script>



    <script src="~/assets/js/Accessories/accessories.js"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>