<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>Embryo</title>*@
    <title>@ViewData["Title"] - EmbryoFrontToBack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
          integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/assets/css/Home/home.css">
</head>

<body>



    <header>
        <section id="top-area">
            <div class="my-container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                        <div class="welcome">
                            <p>Welcome to our store</p>
                        </div>

                        <div class="language">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle button1" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    English
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">French</a></li>

                                </ul>
                            </div>

                        </div>

                        <div class="country">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle button2" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    USD
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href=""><img src="~/assets/img/Flag-India.jpg"><span>INR</span></a></li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/220px-Flag_of_the_United_States.svg.png"><span>USD</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/Flag_of_New_Zealand.svg.png"><span>NZD</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/Flag_of_Germany.svg.png"><span>GMD</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/1200px-Flag_of_Israel.svg.png"><span>ILR</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="">
                                            <img src="~/assets/img/Flag_of_France.svg.png"><span>EUR</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>



                    </div>

                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="icons">
                            <div class="basket">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="basket-circles"><sup>0</sup></div>
                            </div>

                            <div class="heart">
                                <i class="fa-solid fa-heart"></i>
                                <div class="heart-circles"><sup>0</sup></div>
                            </div>

                            <div class="profile-img">

                                <div class="dropdown">
                                    <a class="btn btn-secondary my-button" href="#" role="button" id="dropdownMenuLink"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/assets/img/profile.jpg" alt="profile" style="width: 30px; height: 30px;">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">


                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <a class="dropdown-item" href="./profile.html">
                                                    <i class="fa-solid fa-user"></i><span class="span-location">@User.Identity.Name</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="span-location">Logout</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                                                    <i class="fa-solid fa-right-to-bracket"></i><span class="span-location">Login</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-controller="Account" asp-action="Register">
                                                    <i class="fa-solid fa-user-plus"></i><span class="span-location">Register</span>
                                                </a>
                                            </li>
                                        }




                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="logo-search">
            <div class="my-container">
                <div class="row">
                    <div class="col-12 d-flex">
                        <div class="col-lg-6 col-md-12 col-sm-12 ">
                            <div class="logo">
                                <img src="~/assets/img/embryo-logo.png" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="search">
                                <input placeholder="Search" type="text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="nav-area">
            <div class="my-container">
                <div class="col-12">
                    <nav>
                        <ul class="navbar-list">
                            <li>
                                <a class="hov" asp-controller="Home" asp-action="Index">HOME</a>
                                <ul class="submenu home">
                                    <li><a asp-controller="Accessories" asp-action="Index">Product</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">HOME TWO</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">HOME THREE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="hov" href="#">SHOP</a>
                                <ul class="submenu shop">
                                    <li><a href="./product.html">PRODUCT DETAIL</a></li>
                                    <li><a href="./cart.html">CART</a></li>
                                    <li><a href="#">CHECKOUT</a></li>
                                    <li><a href="#">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li><a class="hov" asp-controller="Accessories" asp-action="Index">ACCESSORIES</a></li>
                            <li>
                                <a class="hov" href="#">CATEGORIES</a>
                                <ul class="submenu categories">
                                    <div class="product1">
                                        <h5>MEN</h5>
                                        <hr />
                                    <li><a href="#">- T-Shirts</a></li>
                                    <li><a href="#">- Jeans</a></li>
                                    <li><a href="#">- Shoes</a></li>
                                    <li><a href="#">- Wallet</a></li>
                </div>
                <div class="product1">
                    <h5>WOMEN</h5>
                    <hr />
                    <li><a href="#">- Western Wear</a></li>
                    <li><a href="#">- Ethnic Wear</a></li>
                    <li><a href="#">- Sports Wear</a></li>
                </div>
                <div class="product1">
                    <h5>GADGETS</h5>
                    <hr />
                    <li><a href="#">- HeadPhones</a></li>
                    <li><a href="#">- Laptop</a></li>
                    <li><a href="#">- Speaker</a></li>
                    <li><a href="#">- Watch</a></li>
                </div>
                <div class="product1">
                    <h5>ACCESSORIES</h5>
                    <hr />
                    <li><a href="#">- Jewellery</a></li>
                    <li><a href="#">- Belts</a></li>
                    <li><a href="#">- HandBag</a></li>
                </div>
                </ul>
                </li>
                <li><a class="hov" href="./about.html">ABOUT US</a></li>
                <li><a class="hov" href="./contact-us.html">CONTACT US</a></li>
                <li><a class="hov admin" href="#">ADMIN PANEL</a></li>
                </ul>
                </nav>
            </div>
            </div>
        </section>

        <section id="scrol-area" class="visibl">
            <div class="my-container">
                <div class="col-12">
                    <div class="scrol-nav-logo">
                        <img src="~/assets/img/embryoacc-logo.png" alt="">
                    </div>
                    <nav id="navbar-scrol">

                        <ul class="navbar-list-scrol">
                            <li>
                                <a class="hov" asp-controller="Home" asp-action="Index">HOME</a>
                                <ul class="submenu home">
                                    <li><a asp-controller="Accessories" asp-action="Index">Product</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">HOME TWO</a></li>
                                    <li><a asp-controller="Home" asp-action="Index">HOME THREE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="hov" href="#">SHOP</a>
                                <ul class="submenu shop">
                                    <li><a href="./product.html">PRODUCT DETAIL</a></li>
                                    <li><a href="./cart.html">CART</a></li>
                                    <li><a href="#">CHECKOUT</a></li>
                                    <li><a href="#">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li><a class="hov" asp-controller="Accessories" asp-action="Index">ACCESSORIES</a></li>
                            <li>
                                <a class="hov" href="#">CATEGORIES</a>
                                <ul class="submenu categories">
                                    <div class="product1">
                                        <h5>MEN</h5>
                                        <hr />
                                    <li><a href="#">- T-Shirts</a></li>
                                    <li><a href="#">- Jeans</a></li>
                                    <li><a href="#">- Shoes</a></li>
                                    <li><a href="#">- Wallet</a></li>
                </div>
                <div class="product1">
                    <h5>WOMEN</h5>
                    <hr />
                    <li><a href="#">- Western Wear</a></li>
                    <li><a href="#">- Ethnic Wear</a></li>
                    <li><a href="#">- Sports Wear</a></li>
                </div>
                <div class="product1">
                    <h5>GADGETS</h5>
                    <hr />
                    <li><a href="#">- HeadPhones</a></li>
                    <li><a href="#">- Laptop</a></li>
                    <li><a href="#">- Speaker</a></li>
                    <li><a href="#">- Watch</a></li>
                </div>
                <div class="product1">
                    <h5>ACCESSORIES</h5>
                    <hr />
                    <li><a href="#">- Jewellery</a></li>
                    <li><a href="#">- Belts</a></li>
                    <li><a href="#">- HandBag</a></li>
                </div>
                </ul>
                </li>
                <li><a class="hov" href="./about.html">ABOUT US</a></li>
                <li><a class="hov" href="./contact-us.html">CONTACT US</a></li>
                <li class="admin"><a class="hov" href="#">ADMIN PANEL</a></li>
                </ul>
                </nav>
            </div>
            </div>
        </section>

    </header>
    @RenderBody()


    <footer>
        <section id="footer-area">
            <div class="my-container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="about-area">
                            <h6 class="about">ABOUT COMPANY</h6>
                            <p class="about-text">
                                Here you can use rows and columns here to organize your footer content.Lorem ipsum
                                dolor sit amet,consectetur adipisicing elit. Here you can use rows and columns here to organize your
                                footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="about-area">
                            <h6 class="about">ABOUT </h6>
                            <ul class="contact_us">
                                <li><a href="">about us</a></li>
                                <li><a href="">terms and condition</a></li>
                                <li><a href="">privacy policy</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="about-area">
                            <h6 class="about">SESSION </h6>
                            <ul class="contact_us">
                                <li><a href="">sign in</a></li>
                                <li><a href="">register</a></li>
                                <li><a href="">forget password</a></li>
                                <li><a href="">thank you</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="about-area">
                            <h6 class="about">CATEGORIES</h6>
                            <ul class="contact_us">
                                <li><a href="">men</a></li>
                                <li><a href="">accessories</a></li>
                                <li><a href="">gadgets</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="about-area">
                            <h6 class="about">SOCIAL</h6>
                            <ul class="contact_us">
                                <li><a href="">facebook</a></li>
                                <li><a href="">twitter</a></li>
                                <li><a href="">youtube</a></li>
                                <li><a href="">google plus</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="footer_img-text">
            <div class="my-container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="footer-line"></div>
                        <div class="img-logo-end">
                            <img src="~/assets/img/download.png" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <div class="footer-lines"></div>
                        <p class="end-texts">© All Rights Reversed | Made With Love by IRON NETWORK for better Web </p>
                    </div>
                </div>
            </div>
        </section>

    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0622708fc2.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="~/assets/js/Home/home.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
