@model IEnumerable<Accessories>



    @foreach (var accessories in Model)
    {
        <div class="col-4">
            <div class="card my-card" style="width: 18rem;">
                <div class="image">
                    <i class="fa-solid fa-heart"></i>
                    <img src="./assets/img/accessories/@accessories.Image" class="imgCards"
                         alt="...">
                </div>
                <div class="card-body card-bottom">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h5 class="card-title">@accessories.Title</h5>
                    <h6 class="card-text">$@accessories.Price.ToString("0.#####")</h6>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-sharp"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
            </div>

        </div>
    }

  
